/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: "Roboto", sans-serif;
  color: rgba(245, 239, 239, 0.993);
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background: linear-gradient(180deg, #0C2974 0%, #9F62BC 100%);
  height: 8rem;
  opacity: 0.8;
  position: sticky;
  top: 0px;
  z-index: 100;
}
header nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  height: 100%;
}
header nav #wigc-logo {
  margin-left: 1em;
  max-width: 240px;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 500px) {
  header nav ul {
    position: absolute;
    flex-direction: column;
    top: 100%;
    height: 92vh;
    width: 100%;
    background: #9F62BC;
  }
}
header nav ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.651);
  transition: transform 0.2s ease-in-out;
}
@media screen and (max-width: 500px) {
  header nav ul li a {
    font-size: 3.5rem;
  }
}
header nav ul li a:hover {
  color: #141615;
}
header nav .toggle {
  display: none;
}
header nav .burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding-right: 3em;
}
@media screen and (min-width: 501px) {
  header nav .burger {
    display: none;
  }
}
header nav .burger div {
  background-color: #0a090a;
  height: 8px;
  width: 45px;
  margin: 4px;
  border-radius: 3px;
}

.home-scene-container {
  background-image: url(../img/scenes/backgrounds/Cityscape-1440x900.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 900px;
  position: relative;
}
.home-scene-container .goose {
  position: relative;
  top: 400px;
  left: 220px;
  width: 111px;
  height: 130px;
}
.home-scene-container .goose .goose-body {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 10%;
}
.home-scene-container .goose .goose-head-neck-stand {
  position: absolute;
  top: 0%;
  left: 56%;
}
.home-scene-container .goose .goose-head-neck-fly {
  display: none;
  position: absolute;
  top: 33%;
  right: -40%;
}
.home-scene-container .goose .goose-wing-stand {
  position: absolute;
  z-index: 2;
  top: 42%;
  left: 25%;
}
.home-scene-container .goose .goose-wing-fly-R {
  position: absolute;
  z-index: 2;
  top: -8%;
  left: 35%;
  display: none;
}
.home-scene-container .goose .goose-wing-fly-L {
  position: absolute;
  z-index: 0;
  top: 3%;
  left: 20%;
  display: none;
}
.home-scene-container .goose .goose-tail {
  position: absolute;
  z-index: 0;
  top: 34%;
  left: 1%;
}
.home-scene-container .goose .back-foot {
  position: absolute;
  z-index: 0;
  top: 65%;
  left: 40%;
}
.home-scene-container .goose .front-foot {
  position: absolute;
  z-index: 0;
  top: 65%;
  left: 60%;
}
.home-scene-container .fly {
  animation: fly 3s infinite ease-in;
}
.home-scene-container .fly .goose-head-neck-stand {
  display: none;
}
.home-scene-container .fly .goose-head-neck-fly {
  display: block;
}
.home-scene-container .fly .front-foot, .home-scene-container .fly .back-foot {
  display: none;
}
.home-scene-container .fly .goose-wing-stand {
  display: none;
}
.home-scene-container .fly .goose-wing-fly-R, .home-scene-container .fly .goose-wing-fly-L {
  display: block;
  animation: flap 0.3s infinite;
}
.home-scene-container .fly .goose-tail {
  transform-origin: bottom right;
  transform: rotate(-25deg);
}
@keyframes flap {
  0% {
    transform-origin: 0% 90%;
    transform: scaleY(1);
  }
  50% {
    transform-origin: 0% 90%;
    transform: scaleY(-1);
  }
  100% {
    transform-origin: 0% 90%;
    transform: scaleY(1);
  }
}
@keyframes fly {
  from {
    transform: translateY(0px) translateX(0px) scale(1);
  }
  to {
    transform: translateY(-800px) translateX(1600px) scale(3);
  }
}
.home-scene-container .car {
  width: 175px;
  position: relative;
  top: 60px;
  left: 150px;
  animation: drive 3s ease-out;
}
.home-scene-container .car .car-body {
  z-index: 1;
  position: absolute;
}
.home-scene-container .car .car-wheel {
  position: absolute;
  width: 27.2px;
  top: 128%;
  text-align: center;
  animation: rotate 3s ease-out;
}
.home-scene-container .car .front {
  left: 73%;
}
.home-scene-container .car .back {
  left: 9%;
}
.home-scene-container .car .car-hatch {
  position: relative;
  width: 43.5px;
  top: 8px;
  left: 2px;
  animation: hatch-open 4s 4s cubic-bezier(0, 0.32, 0.82, 1.1);
}
@keyframes drive {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
@keyframes hatch-open {
  0% {
    transform-origin: right top;
    transform: rotate(0deg);
  }
  20% {
    transform-origin: right top;
    transform: rotate(70deg);
  }
  60% {
    transform-origin: right top;
    transform: rotate(70deg);
  }
  100% {
    transform-origin: right top;
    transform: rotate(0deg);
  }
}

.about-scene-container {
  background-image: url(../img/scenes/backgrounds/WIGC_homescape_about.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 900px;
  position: relative;
  margin-bottom: 2em;
}

.tutorial-display-box {
  border: 1px solid red;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
.tutorial-display-box .display {
  margin: 1.75em 0 1.75em 0;
  max-width: 50%;
  padding: 1.75em 1.75em 0em 1.75em;
  background: linear-gradient(180deg, #0C2974 0%, #9F62BC 100%);
  border-radius: 10px;
}
.tutorial-display-box .start-btn button {
  width: 30em;
  height: 4em;
  border-radius: 50px;
  background: linear-gradient(180deg, #0C2974 0%, #9F62BC 100%);
}

.flock {
  position: relative;
  top: 650px;
  left: 600px;
  width: 120px;
  height: 92px;
}
.flock .sheep {
  position: inherit;
  height: inherit;
}
.flock .reverse {
  transform: scaleX(-1);
}
.flock .sheep-body {
  position: absolute;
  z-index: 0;
}
.flock .sheep-head {
  position: absolute;
  z-index: 1;
  left: -2%;
  top: 3%;
}
.flock .leg {
  position: absolute;
  z-index: 1;
  top: 65%;
}
.flock .right-front {
  left: 28%;
}
.flock .left-front {
  left: 36%;
}
.flock .right-back {
  left: 67%;
}
.flock .left-back {
  left: 75%;
}

.mink-sit {
  display: none;
  position: absolute;
  top: 558px;
  left: 195px;
}

.mink-profile-lg {
  display: none;
  position: relative;
  top: 400px;
  left: 200px;
  width: 150px;
  height: 98px;
  animation: walk-mink 3s linear;
}
.mink-profile-lg .mplg-inner {
  position: inherit;
  height: inherit;
  animation: bounce 0.5s alternate infinite;
}
.mink-profile-lg .mplg-body {
  position: absolute;
  left: 24px;
  z-index: 1;
}
.mink-profile-lg .mplg-head {
  position: absolute;
  z-index: 2;
  left: 64%;
  top: -7%;
}
.mink-profile-lg .mplg-FLL {
  position: absolute;
  z-index: 0;
  left: 55%;
  top: 33%;
  animation: step-mink 1s 0.05s infinite cubic-bezier(0.66, 0.67, 0.27, 1.04);
}
.mink-profile-lg .mplg-FRL {
  position: absolute;
  z-index: 2;
  left: 59%;
  top: 35%;
  animation: step-mink 1s infinite cubic-bezier(0.66, 0.67, 0.27, 1.04);
}
.mink-profile-lg .mplg-BLL {
  position: absolute;
  z-index: 0;
  left: 15%;
  top: 17%;
  animation: step-mink-reverse 1s 0.05s reverse infinite cubic-bezier(0.66, 0.67, 0.27, 1.04);
}
.mink-profile-lg .mplg-BRL {
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 17%;
  animation: step-mink-reverse 1s reverse infinite cubic-bezier(0.66, 0.67, 0.27, 1.04);
}
.mink-profile-lg .mplg-tail {
  position: absolute;
  z-index: 1;
  top: 13%;
  left: -2%;
}

.mink-front-view {
  display: none;
  position: relative;
  top: 400px;
  left: 875px;
  width: 50px;
  height: 98px;
  animation: walk-fv 2s linear;
}
.mink-front-view .mfv-inner {
  position: inherit;
  height: inherit;
}
.mink-front-view .mfv-body {
  position: absolute;
  left: 15%;
  top: 18%;
  z-index: 1;
}
.mink-front-view .mfv-head {
  position: absolute;
  left: 12%;
  top: 18%;
  z-index: 3;
}
.mink-front-view .mfv-tail {
  position: absolute;
  top: 19%;
  left: 29%;
  animation: wag_fv 0.5s infinite alternate ease-in-out;
}
.mink-front-view .mfv-BRL {
  position: absolute;
  top: 34%;
  animation: step-fv 0.3s 0.225s infinite alternate linear;
}
.mink-front-view .mfv-BLL {
  position: absolute;
  top: 34%;
  left: 45%;
  animation: step-fv 0.3s 0.075s infinite alternate linear;
}
.mink-front-view .mfv-FRL {
  position: absolute;
  z-index: 1;
  top: 39%;
  left: 18%;
  animation: step-fv 0.3s infinite alternate linear;
}
.mink-front-view .mfv-FLL {
  position: absolute;
  z-index: 1;
  top: 39%;
  left: 58%;
  animation: step-fv 0.3s 0.15s infinite alternate linear;
}

.mink-rear-view {
  display: none;
  position: relative;
  top: 400px;
  left: 620px;
  width: 50px;
  height: 98px;
  animation: walk-fv reverse 2s linear;
}
.mink-rear-view .mrv-inner {
  position: inherit;
  height: inherit;
}
.mink-rear-view .mrv-body {
  position: absolute;
  left: 15%;
  top: 18%;
  z-index: 1;
}
.mink-rear-view .mrv-head {
  position: absolute;
  left: 10%;
  top: 7%;
  z-index: 0;
}
.mink-rear-view .mrv-tail {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 29%;
  animation: wag_fv 0.5s infinite alternate ease-in-out;
}
.mink-rear-view .mrv-BRL {
  position: absolute;
  z-index: 1;
  top: 34%;
  left: 45%;
  animation: step-fv 0.3s 0.225s infinite alternate linear;
}
.mink-rear-view .mrv-BLL {
  position: absolute;
  z-index: 1;
  top: 34%;
  animation: step-fv 0.3s 0.075s infinite alternate linear;
}
.mink-rear-view .mrv-FRL {
  position: absolute;
  z-index: 0;
  top: 25%;
  left: 58%;
  animation: step-fv 0.3s infinite alternate linear;
}
.mink-rear-view .mrv-FLL {
  position: absolute;
  z-index: 0;
  top: 25%;
  left: 18%;
  animation: step-fv 0.3s 0.15s infinite alternate linear;
}

.mink-profile-crouch-lg {
  display: none;
  position: relative;
  top: 575px;
  left: 800px;
  width: 150px;
  height: 98px;
  animation: walk-mink-crouch 2s linear;
}
.mink-profile-crouch-lg .mpcrlg-inner {
  position: inherit;
  height: inherit;
}
.mink-profile-crouch-lg .mink-reverse {
  transform: scaleX(-1);
}
.mink-profile-crouch-lg .mpcrlg-body {
  position: absolute;
  left: 24px;
  z-index: 1;
}
.mink-profile-crouch-lg .mpcrlg-head, .mink-profile-crouch-lg .mpcrlg-head-left {
  position: absolute;
  z-index: 2;
  left: 65%;
  top: -6%;
}
.mink-profile-crouch-lg .mpcrlg-FLL {
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 28%;
  animation: creep 0.5s infinite 0.25s linear;
}
.mink-profile-crouch-lg .mpcrlg-FRL {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 28%;
  animation: creep 0.5s infinite linear;
}
.mink-profile-crouch-lg .mpcrlg-BLL {
  position: absolute;
  z-index: 0;
  left: 12%;
  top: 21%;
  animation: step-mink 0.5s alternate-reverse infinite ease-in;
}
.mink-profile-crouch-lg .mpcrlg-BRL {
  position: absolute;
  z-index: 2;
  left: 12%;
  top: 21%;
  animation: step-mink 0.5s alternate infinite ease-in;
}
.mink-profile-crouch-lg .mpcrlg-tail {
  position: absolute;
  z-index: 1;
  top: 8%;
  left: -4%;
}

.active {
  display: block;
}

.hide {
  display: none;
}

@keyframes walk {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes walk-mink {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(600px);
  }
}
@keyframes walk-mink-crouch {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-180px);
  }
}
@keyframes walk-fv {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(150px);
  }
}
@keyframes creep {
  0% {
    transform: translate3d(0);
  }
  25% {
    transform: translate3d(4px, -2px, 0);
  }
  50% {
    transform: translate3d(8px, 0px, 0);
  }
  75% {
    transform: translate3d(4px, 2px, 0);
  }
  100% {
    transform: translate3d(0);
  }
}
@keyframes step {
  0% {
    transform: rotate(20deg);
    transform-origin: top left;
  }
  50% {
    transform: rotate(0deg);
    transform-origin: top left;
  }
  100% {
    transform: rotate(-20deg);
    transform-origin: top left;
  }
}
@keyframes step-fv {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(6px);
  }
}
@keyframes step-mink {
  0% {
    transform: rotate(-12deg);
    transform-origin: top;
  }
  50% {
    transform: rotate(14deg);
    transform-origin: top;
  }
  100% {
    transform: rotate(-12deg);
    transform-origin: top;
  }
}
@keyframes step-mink-reverse {
  0% {
    transform: rotate(12deg);
    transform-origin: top;
  }
  50% {
    transform: rotate(-16deg);
    transform-origin: top;
  }
  100% {
    transform: rotate(12deg);
    transform-origin: top;
  }
}
@keyframes bounce {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
@keyframes wag_fv {
  from {
    transform-origin: top;
    transform: rotate(-20deg);
  }
  to {
    transform-origin: top;
    transform: rotate(20deg);
  }
}

/*# sourceMappingURL=index.css.map */
