/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: "Roboto", sans-serif;
  color: rgba(245, 239, 239, 0.993);
}

body {
  max-width: 2000px;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

header {
  background: linear-gradient(180deg, #0C2974 0%, #9F62BC 100%);
  height: 8rem;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
}
header nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  height: 100%;
}
header nav #wigc-logo {
  margin-left: 1em;
  max-width: 240px;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 414px) {
  header nav ul {
    position: absolute;
    flex-direction: column;
    top: 100%;
    height: 92vh;
    width: 100%;
    background: #9F62BC;
  }
}
header nav ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.651);
  transition: transform 0.2s ease-in-out;
}
@media screen and (max-width: 414px) {
  header nav ul li a {
    font-size: 3.5rem;
  }
}
header nav ul li a:hover {
  color: #141615;
}
header nav .toggle {
  display: none;
}
header nav .burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding-right: 3em;
}
@media screen and (min-width: 1024px) {
  header nav .burger {
    display: none;
  }
}
header nav .burger div {
  background-color: #0a090a;
  height: 8px;
  width: 45px;
  margin: 4px;
  border-radius: 3px;
}

.tutorial-display-box {
  position: fixed;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
.tutorial-display-box .control-container {
  display: flex;
  width: 100%;
  margin: 1.75em 0 1.75em 0;
  align-items: center;
  justify-content: center;
}
.tutorial-display-box .control-container .prev-wrapper, .tutorial-display-box .control-container .next-wrapper {
  width: 40px;
  border: 1px solid 0;
}
.tutorial-display-box .control-container .prev-wrapper .prev-script, .tutorial-display-box .control-container .prev-wrapper .next-script, .tutorial-display-box .control-container .next-wrapper .prev-script, .tutorial-display-box .control-container .next-wrapper .next-script {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.tutorial-display-box .control-container .display {
  margin: 0 1em 0 1em;
  max-width: 40%;
  padding: 1.75em 1.75em 0em 1.75em;
  background: linear-gradient(180deg, #0C2974 0%, #9F62BC 100%);
  border-radius: 10px;
}
.tutorial-display-box .start-btn button {
  width: 10em;
  height: 2em;
  font-size: 2rem;
  border-radius: 50px;
  background: linear-gradient(180deg, #0C2974 0%, #9F62BC 100%);
}

.home-scene-container {
  background-image: url(../img/scenes/backgrounds/CityScape_1440x900.png);
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
}
@media screen and (min-width: 500px) {
  .home-scene-container {
    background-image: url(../img/scenes/backgrounds/CityScape_1024x900.png);
  }
}
@media screen and (max-width: 414px) {
  .home-scene-container {
    background-image: url(../img/scenes/backgrounds/CityScape_375x812.png);
    height: 812px;
  }
}

.goose-zone1 {
  position: absolute;
  width: 33%;
  top: 60%;
  height: 140px;
}
@media screen and (max-width: 414px) {
  .goose-zone1 {
    top: 52%;
  }
}

.goose-zone2 {
  position: absolute;
  width: 33%;
  height: 180px;
  top: 62%;
  left: 33%;
}
@media screen and (max-width: 414px) {
  .goose-zone2 {
    top: 55%;
  }
}

.goose-zone3 {
  position: absolute;
  width: 28%;
  height: 250px;
  top: 62%;
  left: 66%;
}
@media screen and (max-width: 414px) {
  .goose-zone3 {
    top: 58%;
  }
}

.goose-zone4 {
  position: absolute;
  width: 33%;
  height: 150px;
  bottom: 0%;
  left: 50%;
}
@media screen and (max-width: 414px) {
  .goose-zone4 {
    bottom: 5%;
  }
}

.goose {
  position: relative;
  z-index: 1;
  width: 111px;
  height: 130px;
}
@media screen and (max-width: 414px) {
  .goose {
    transform: scale(0.7);
  }
}
.goose .goose-body {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 25%;
}
.goose .goose-head-neck-stand {
  position: absolute;
  top: 0%;
  left: 52%;
}
.goose .goose-head-neck-fly {
  display: none;
  position: absolute;
  top: 26%;
  right: -20%;
}
.goose .goose-wing-stand {
  position: absolute;
  z-index: 2;
  top: 33%;
  left: 33%;
}
.goose .goose-wing-R {
  position: absolute;
  z-index: 2;
  top: 4%;
  left: 40%;
  display: none;
}
.goose .goose-wing-L {
  position: absolute;
  z-index: 0;
  top: 0%;
  left: 40%;
  display: none;
}
.goose .goose-tail {
  position: absolute;
  z-index: 0;
  top: 28%;
  left: 17%;
}
.goose .back-foot {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 40%;
}
.goose .front-foot {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 54%;
}

.pre-fly-goose-zone1 {
  animation: goose-walk 2s cubic-bezier(0.74, 0.27, 0.93, 0.54);
}
.pre-fly-goose-zone1 .front-foot {
  animation: goose-step 1s reverse infinite linear;
}
.pre-fly-goose-zone1 .back-foot {
  animation: goose-step 1s infinite linear;
}

.pre-fly-goose-zone2 {
  animation: goose-walk 2s 1s cubic-bezier(0.74, 0.27, 0.93, 0.54);
}
.pre-fly-goose-zone2 .front-foot {
  animation: goose-step 1s 1s reverse infinite linear;
}
.pre-fly-goose-zone2 .back-foot {
  animation: goose-step 1s 1s infinite linear;
}

.pre-fly-goose-zone3 {
  animation: goose-walk 2s 2s cubic-bezier(0.74, 0.27, 0.93, 0.54);
}
.pre-fly-goose-zone3 .front-foot {
  animation: goose-step 1s 2s reverse infinite linear;
}
.pre-fly-goose-zone3 .back-foot {
  animation: goose-step 1s 2s infinite linear;
}

.pre-fly-goose-zone4 {
  animation: goose-walk 2s 4s cubic-bezier(0.74, 0.27, 0.93, 0.54);
}
.pre-fly-goose-zone4 .front-foot {
  animation: goose-step 1s 4s reverse infinite linear;
}
.pre-fly-goose-zone4 .back-foot {
  animation: goose-step 1s 4s infinite linear;
}

.fly {
  left: 100px;
  animation: fly 3s ease-in;
}
.fly .goose-head-neck-stand {
  display: none;
}
.fly .goose-head-neck-fly {
  display: block;
}
.fly .front-foot, .fly .back-foot {
  display: none;
}
.fly .goose-wing-stand {
  display: none;
}
.fly .goose-wing-R, .fly .goose-wing-L {
  display: block;
  animation: flap 0.3s infinite;
}
.fly .goose-tail {
  transform-origin: bottom right;
  transform: rotate(-25deg);
}

@keyframes flap {
  0% {
    transform-origin: 0% 90%;
    transform: scaleY(1);
  }
  50% {
    transform-origin: 0% 90%;
    transform: scaleY(-1);
  }
  100% {
    transform-origin: 0% 90%;
    transform: scaleY(1);
  }
}
@keyframes fly {
  from {
    transform: translateY(0px) translateX(0px) scale(1);
  }
  to {
    transform: translateY(-800px) translateX(1600px) scale(3);
  }
}
@keyframes goose-step {
  0% {
    transform-origin: top center;
    transform: rotate(0);
  }
  25% {
    transform-origin: top center;
    transform: rotate(-20deg);
  }
  50% {
    transform-origin: top center;
    transform: rotate(0);
  }
  75% {
    transform-origin: top center;
    transform: rotate(20deg);
  }
  100% {
    transform-origin: top center;
    transform: rotate(0);
  }
}
@keyframes goose-walk {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}
.car {
  width: 175px;
  position: absolute;
  z-index: 2;
  top: 270px;
  left: 150px;
  animation: drive 3s ease-out;
}
@media screen and (min-width: 500px) {
  .car {
    transform: scale(0.8);
    top: 340px;
    left: 85px;
  }
}
@media screen and (max-width: 414px) {
  .car {
    transform: scale(0.6);
    top: 180px;
    left: 20px;
  }
}
.car .car-body {
  z-index: 1;
  position: absolute;
}
.car .car-wheel {
  position: absolute;
  width: 27.2px;
  top: 128%;
  text-align: center;
  animation: rotate 3s ease-out;
}
.car .front {
  left: 73%;
}
.car .back {
  left: 9%;
}
.car .car-hatch {
  position: relative;
  width: 43.5px;
  top: 8px;
  left: 2px;
  animation: hatch-open 4s 4s cubic-bezier(0, 0.32, 0.82, 1.1);
}

@keyframes drive {
  from {
    transform: translateX(-400px);
  }
  to {
    transform: translateX(0px);
  }
}
@media screen and (min-width: 500px) {
  @keyframes drive {
    from {
      transform: translateX(-300px) scale(0.8);
    }
    to {
      transform: translateX(0px) scale(0.8);
    }
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
@keyframes hatch-open {
  0% {
    transform-origin: right top;
    transform: rotate(0deg);
  }
  20% {
    transform-origin: right top;
    transform: rotate(70deg);
  }
  60% {
    transform-origin: right top;
    transform: rotate(70deg);
  }
  100% {
    transform-origin: right top;
    transform: rotate(0deg);
  }
}
.luna-sv {
  position: absolute;
  width: 80px;
  height: 40px;
  z-index: 1;
  left: 190px;
  top: 285px;
  animation: luna-car-walk 2s;
}
@media screen and (min-width: 500px) {
  .luna-sv {
    top: 355px;
    left: 125px;
  }
}
.luna-sv .luna-sv-inner {
  animation: luna-car-jump-rotate 2s;
  height: inherit;
}
.luna-sv .luna-sv-head-body-combo {
  position: absolute;
}
.luna-sv .luna-sv-frl {
  position: absolute;
  z-index: -1;
  left: 20%;
  top: 40%;
}
.luna-sv .luna-sv-fll {
  position: absolute;
  z-index: 1;
  left: 25%;
  top: 40%;
}
.luna-sv .luna-sv-brl {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 20%;
}
.luna-sv .luna-sv-bll {
  position: absolute;
  z-index: 1;
  left: 45%;
  top: 20%;
}
.luna-sv .luna-sv-frl, .luna-sv .luna-sv-fll {
  animation: luna-car-front-leg-stride 2s;
}
.luna-sv .luna-sv-brl, .luna-sv .luna-sv-bll {
  animation: luna-car-back-leg-stride 2s;
}

@keyframes luna-car-walk {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-135px);
  }
}
@media screen and (min-width: 500px) {
  @keyframes luna-car-walk {
    from {
      transform: translateX(0) scale(0.8);
    }
    to {
      transform: translateX(-100px) scale(0.8);
    }
  }
}
@keyframes luna-car-front-leg-stride {
  0% {
    transform-origin: top center;
    transform: rotate(0deg);
  }
  60% {
    transform-origin: top center;
    transform: rotate(45deg);
  }
  100% {
    transform-origin: top center;
    transform: rotate(0deg);
  }
}
@keyframes luna-car-back-leg-stride {
  0% {
    transform-origin: top center;
    transform: rotate(0deg);
  }
  50% {
    transform-origin: top center;
    transform: rotate(-50deg);
  }
  100% {
    transform-origin: top center;
    transform: rotate(0deg);
  }
}
@keyframes luna-car-jump-rotate {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  28% {
    transform: rotate(10deg);
  }
  50% {
    transform: translateY(-20px);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}
.luna-fv {
  position: absolute;
  width: 49px;
  height: 105px;
  left: 50px;
  top: 500px;
  z-index: 0;
  animation: luna-fv-walk 3s linear;
}
@media screen and (min-width: 500px) {
  .luna-fv {
    top: 520px;
    left: 30px;
  }
}
.luna-fv .luna-fv-inner {
  position: relative;
  height: inherit;
}
.luna-fv .luna-fv-body {
  position: absolute;
}
.luna-fv .luna-fv-head {
  position: absolute;
  z-index: 1;
  top: -12%;
  left: -5%;
  animation: luna-fv-head-drop 0.3s alternate infinite linear;
}
.luna-fv .luna-fv-frl {
  position: absolute;
  left: 6%;
  top: 20%;
  animation: luna-fv-stride 0.5s infinite linear;
}
.luna-fv .luna-fv-fll {
  position: absolute;
  left: 54%;
  top: 20%;
  animation: luna-fv-stride 0.5s 0.08s infinite linear;
}
.luna-fv .luna-fv-brl {
  position: absolute;
  z-index: -1;
  left: 10%;
  top: 5%;
  animation: luna-fv-stride 0.5s 0.25s infinite linear;
}
.luna-fv .luna-fv-bll {
  position: absolute;
  z-index: -1;
  left: 43%;
  top: 5%;
  animation: luna-fv-stride 0.5s 0.33s infinite linear;
}

@keyframes luna-fv-walk {
  from {
    transform: translateY(-250px) scale(0.3);
  }
  to {
    transform: translateY(0) scale(0.9);
  }
}
@media screen and (min-width: 500px) {
  @keyframes luna-fv-walk {
    from {
      transform: translateY(-190px) scale(0.3);
    }
    to {
      transform: translateY(0) scale(0.7);
    }
  }
}
@keyframes luna-fv-stride {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes luna-fv-head-drop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(7px);
  }
}
.luna-ang {
  position: absolute;
  width: 168px;
  height: 100x;
  left: 40px;
  top: 500px;
  z-index: 0;
  animation: luna-ang-walk 3s linear;
}
@media screen and (min-width: 500px) {
  .luna-ang {
    top: 550px;
  }
}
.luna-ang .luna-ang-inner {
  position: relative;
  height: inherit;
  animation: luna-ang-oscillate 0.4s alternate-reverse infinite linear;
}
.luna-ang .luna-ang-body {
  position: absolute;
  transform: rotate(-10deg);
}
.luna-ang .luna-ang-head {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 45%;
}
.luna-ang .luna-ang-frl {
  position: absolute;
  left: 30%;
  top: 55%;
  animation: luna-ang-creep 0.8s infinite linear;
}
.luna-ang .luna-ang-fll {
  position: absolute;
  left: 37%;
  top: 45%;
  z-index: -1;
  animation: luna-ang-creep 0.8s 0.05s infinite linear;
}
.luna-ang .luna-ang-brl {
  position: absolute;
  z-index: 1;
  left: -8%;
  top: 23%;
  animation: luna-ang-creep 0.8s 0.4s infinite linear;
}
.luna-ang .luna-ang-bll {
  position: absolute;
  z-index: -1;
  left: 2%;
  top: 18%;
  animation: luna-ang-creep 0.8s 0.35s infinite linear;
}
.luna-ang .luna-ang-tail {
  position: relative;
  z-index: 1;
  max-width: 70px;
  left: -23%;
  top: -15px;
  animation: luna-ang-wag 2s infinite linear;
}

.luna-ang-2 {
  left: 900px;
  top: 600px;
  animation: luna-ang-walk-2 3s linear;
}
.luna-ang-2 .luna-ang-inner {
  animation: luna-ang-oscillate-rev 0.4s alternate-reverse infinite linear;
}
@media screen and (min-width: 500px) {
  .luna-ang-2 {
    left: 700px;
    top: 650px;
  }
}

@keyframes luna-ang-walk {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(900px, 100px, 0px);
  }
}
@media screen and (min-width: 500px) {
  @keyframes luna-ang-walk {
    from {
      transform: translate3d(0, 0, 0) scale(0.9);
    }
    to {
      transform: translate3d(700px, 100px, 0px) scale(0.9);
    }
  }
}
@keyframes luna-ang-walk-2 {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-400px, 400px, 0px);
  }
}
@media screen and (min-width: 500px) {
  @keyframes luna-ang-walk-2 {
    from {
      transform: translate3d(0, 0, 0) scale(0.9);
    }
    to {
      transform: translate3d(-400px, 400px, 0px) scale(1);
    }
  }
}
@keyframes luna-ang-creep {
  0% {
    transform-origin: top;
    transform: translate3d(0) rotate(0deg);
  }
  25% {
    transform: translate3d(4px, 4px, 0) rotate(-15deg);
  }
  50% {
    transform: translate3d(0px, 4px, 0) rotate(0deg);
  }
  75% {
    transform: translate3d(-4px, 4px, 0) rotate(15deg);
  }
  100% {
    transform: translate3d(0) rotate(0deg);
  }
}
@keyframes luna-ang-wag {
  0% {
    transform-origin: right;
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes luna-ang-oscillate {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
@keyframes luna-ang-oscillate-rev {
  from {
    transform: rotate(5deg) scaleX(-1);
  }
  to {
    transform: rotate(-5deg) scaleX(-1);
  }
}
.about-wrapper {
  height: 100vh;
  overflow: hidden;
}

.about-container {
  background-color: green;
  height: 100vh;
}
.about-container .animation-container {
  position: relative;
}
.about-container .animation-container .building-container {
  border: 1px solid blue;
  z-index: 1;
  position: relative;
  display: flex;
  transform: translateY(-50%);
  justify-content: space-around;
}
.about-container .animation-container .building-container #barn {
  width: 20%;
  max-width: 150px;
  border: 1px solid red;
}
.about-container .animation-container .building-container #obj-house {
  width: 40%;
  max-width: 350px;
}
.about-container .animation-container .sheep-container {
  border: 1px solid blue;
}
.about-container .animation-container .sheep-container .obj-sheep {
  width: 10%;
  min-width: 60px;
}

.flock {
  position: relative;
  top: 650px;
  left: 640px;
  width: 120px;
  height: 92px;
}
.flock .sheep {
  position: inherit;
  height: inherit;
}
.flock .sheep-body {
  position: absolute;
  z-index: 0;
}
.flock .sheep-head {
  position: absolute;
  z-index: 1;
  left: -2%;
  top: 3%;
}
.flock .leg {
  position: absolute;
  z-index: 1;
  top: 65%;
}
.flock .right-front {
  left: 28%;
}
.flock .left-front {
  left: 36%;
}
.flock .right-back {
  left: 67%;
}
.flock .left-back {
  left: 75%;
}

.mink-sit {
  display: none;
  position: absolute;
  top: 558px;
  left: 295px;
}

.mink-profile {
  display: none;
  position: relative;
  top: 400px;
  left: 300px;
  width: 150px;
  height: 98px;
  animation: walk-mink 3s linear;
}
.mink-profile .mp-bounce {
  position: inherit;
  height: inherit;
  animation: bounce 0.5s alternate infinite;
}
.mink-profile .mp-inner {
  position: inherit;
  height: inherit;
}
.mink-profile .mp-body {
  position: absolute;
  left: 24px;
  z-index: 1;
}
.mink-profile .mp-head, .mink-profile .mp-head-left {
  position: absolute;
  z-index: 2;
  left: 64%;
  top: -7%;
}
.mink-profile .mp-FLL {
  position: absolute;
  z-index: 0;
  left: 55%;
  top: 33%;
  animation: step-mink 1s 0.05s infinite cubic-bezier(0.66, 0.67, 0.27, 1.04);
}
.mink-profile .mp-FRL {
  position: absolute;
  z-index: 2;
  left: 59%;
  top: 35%;
  animation: step-mink 1s infinite cubic-bezier(0.66, 0.67, 0.27, 1.04);
}
.mink-profile .mp-BLL {
  position: absolute;
  z-index: 0;
  left: 15%;
  top: 17%;
  animation: step-mink-reverse 1s 0.05s reverse infinite cubic-bezier(0.66, 0.67, 0.27, 1.04);
}
.mink-profile .mp-BRL {
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 17%;
  animation: step-mink-reverse 1s reverse infinite cubic-bezier(0.66, 0.67, 0.27, 1.04);
}
.mink-profile .mp-tail {
  position: absolute;
  z-index: 1;
  top: 13%;
  left: -2%;
}

.mink-front-view {
  display: none;
  position: relative;
  top: 400px;
  left: 875px;
  width: 50px;
  height: 98px;
  animation: walk-fv 1.5s linear;
}
.mink-front-view .mfv-inner {
  position: inherit;
  height: inherit;
}
.mink-front-view .mfv-body {
  position: absolute;
  left: 15%;
  top: 18%;
  z-index: 1;
}
.mink-front-view .mfv-head {
  position: absolute;
  left: 12%;
  top: 18%;
  z-index: 3;
}
.mink-front-view .mfv-tail {
  position: absolute;
  top: 19%;
  left: 29%;
  animation: wag_fv 0.5s infinite alternate ease-in-out;
}
.mink-front-view .mfv-BRL {
  position: absolute;
  top: 34%;
  animation: step-fv 0.3s 0.225s infinite alternate linear;
}
.mink-front-view .mfv-BLL {
  position: absolute;
  top: 34%;
  left: 45%;
  animation: step-fv 0.3s 0.075s infinite alternate linear;
}
.mink-front-view .mfv-FRL {
  position: absolute;
  z-index: 1;
  top: 39%;
  left: 18%;
  animation: step-fv 0.3s infinite alternate linear;
}
.mink-front-view .mfv-FLL {
  position: absolute;
  z-index: 1;
  top: 39%;
  left: 58%;
  animation: step-fv 0.3s 0.15s infinite alternate linear;
}

.mink-rear-view {
  display: none;
  position: relative;
  top: 400px;
  left: 720px;
  width: 50px;
  height: 98px;
  animation: walk-fv reverse 1s linear;
}
.mink-rear-view .mrv-inner {
  position: inherit;
  height: inherit;
}
.mink-rear-view .mrv-body {
  position: absolute;
  left: 15%;
  top: 18%;
  z-index: 1;
}
.mink-rear-view .mrv-head {
  position: absolute;
  left: 10%;
  top: 7%;
  z-index: 0;
}
.mink-rear-view .mrv-tail {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 29%;
  animation: wag_fv 0.5s infinite alternate ease-in-out;
}
.mink-rear-view .mrv-BRL {
  position: absolute;
  z-index: 1;
  top: 34%;
  left: 45%;
  animation: step-fv 0.3s 0.225s infinite alternate linear;
}
.mink-rear-view .mrv-BLL {
  position: absolute;
  z-index: 1;
  top: 34%;
  animation: step-fv 0.3s 0.075s infinite alternate linear;
}
.mink-rear-view .mrv-FRL {
  position: absolute;
  z-index: 0;
  top: 25%;
  left: 58%;
  animation: step-fv 0.3s infinite alternate linear;
}
.mink-rear-view .mrv-FLL {
  position: absolute;
  z-index: 0;
  top: 25%;
  left: 18%;
  animation: step-fv 0.3s 0.15s infinite alternate linear;
}

.mink-crouch {
  display: none;
  position: relative;
  top: 575px;
  left: 800px;
  width: 150px;
  height: 98px;
  animation: walk-mink-crouch 2s linear;
}
.mink-crouch .mcr-inner {
  position: inherit;
  height: inherit;
  transform: scaleX(-1);
}
.mink-crouch .mcr-body {
  position: absolute;
  left: 24px;
  z-index: 1;
}
.mink-crouch .mcr-head, .mink-crouch .mcr-head-left {
  position: absolute;
  z-index: 2;
  left: 65%;
  top: -6%;
}
.mink-crouch .mcr-FLL {
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 28%;
  animation: creep 0.8s infinite 0.25s linear;
}
.mink-crouch .mcr-FRL {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 28%;
  animation: creep 0.8s infinite linear;
}
.mink-crouch .mcr-BLL {
  position: absolute;
  z-index: 0;
  left: 12%;
  top: 21%;
  animation: step-mink 0.8s 0.4s infinite linear;
}
.mink-crouch .mcr-BRL {
  position: absolute;
  z-index: 2;
  left: 12%;
  top: 21%;
  animation: step-mink 0.8s infinite linear;
}
.mink-crouch .mcr-tail {
  position: absolute;
  z-index: 1;
  top: 8%;
  left: -4%;
}

.mp-2 {
  animation: walk-mink-left 3s linear;
  left: 600px;
}
.mp-2 .mp-inner {
  transform: scaleX(-1);
}

.mfv-2 {
  left: 150px;
}

.mc-2 {
  left: 200px;
  animation: walk-mink-crouch reverse 2s linear;
}
.mc-2 .mcr-inner {
  transform: scaleX(1);
}

.mrv-2 {
  left: 300px;
}

.active {
  display: block;
}

.hide {
  display: none;
}

.active-flock {
  animation: walk 6s linear;
}
.active-flock .right-front {
  animation: step 0.4s alternate infinite linear;
}
.active-flock .left-front {
  animation: step 0.4s alternate-reverse infinite linear;
}
.active-flock .right-back {
  animation: step 0.4s alternate-reverse infinite linear;
}
.active-flock .left-back {
  animation: step 0.4s alternate infinite linear;
}

.active-flock-left {
  animation: walk-right 6s linear;
}
.active-flock-left .right-front {
  animation: step 0.4s alternate infinite linear;
}
.active-flock-left .left-front {
  animation: step 0.4s alternate-reverse infinite linear;
}
.active-flock-left .right-back {
  animation: step 0.4s alternate-reverse infinite linear;
}
.active-flock-left .left-back {
  animation: step 0.4s alternate infinite linear;
}

.flock-left {
  left: 330px;
}

.reverse {
  transform: scaleX(-1);
}

@keyframes walk {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-310px);
  }
}
@keyframes walk-right {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(310px);
  }
}
@keyframes walk-mink {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(500px);
  }
}
@keyframes walk-mink-left {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-500px);
  }
}
@keyframes walk-mink-crouch {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-90px);
  }
}
@keyframes walk-fv {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(150px);
  }
}
@keyframes creep {
  0% {
    transform: translate3d(0);
  }
  25% {
    transform: translate3d(4px, -2px, 0);
  }
  50% {
    transform: translate3d(8px, 0px, 0);
  }
  75% {
    transform: translate3d(4px, 2px, 0);
  }
  100% {
    transform: translate3d(0);
  }
}
@keyframes step {
  0% {
    transform: rotate(20deg);
    transform-origin: top left;
  }
  50% {
    transform: rotate(0deg);
    transform-origin: top left;
  }
  100% {
    transform: rotate(-20deg);
    transform-origin: top left;
  }
}
@keyframes step-fv {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(6px);
  }
}
@keyframes step-mink {
  0% {
    transform: rotate(-12deg);
    transform-origin: top;
  }
  50% {
    transform: rotate(14deg);
    transform-origin: top;
  }
  100% {
    transform: rotate(-12deg);
    transform-origin: top;
  }
}
@keyframes step-mink-reverse {
  0% {
    transform: rotate(12deg);
    transform-origin: top;
  }
  50% {
    transform: rotate(-16deg);
    transform-origin: top;
  }
  100% {
    transform: rotate(12deg);
    transform-origin: top;
  }
}
@keyframes bounce {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
@keyframes wag_fv {
  from {
    transform-origin: top;
    transform: rotate(-20deg);
  }
  to {
    transform-origin: top;
    transform: rotate(20deg);
  }
}
.temp-container {
  background-color: #1C8B0A;
}
.temp-container #svg-container {
  width: 100vw;
  height: 100vh;
}
.temp-container #bg-features {
  border: 1px solid red;
  height: 500px;
  width: 100px;
}

/*# sourceMappingURL=index.css.map */
