/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: "Roboto", sans-serif;
  color: rgba(245, 239, 239, 0.993);
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background: linear-gradient(180deg, #0C2974 0%, #9F62BC 100%);
  margin: 2em 0 2em 0;
  border-radius: 20px;
}
header nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  min-height: 8vh;
}
header nav #wigc-logo {
  padding: 1em;
  width: 30%;
}
@media screen and (max-width: 800px) {
  header nav #wigc-logo {
    width: 40%;
  }
}
@media screen and (max-width: 500px) {
  header nav #wigc-logo {
    width: 48%;
  }
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 500px) {
  header nav ul {
    position: absolute;
    flex-direction: column;
    top: 100%;
    height: 92vh;
    width: 100%;
    background: #474a48;
  }
}
header nav ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.651);
}
@media screen and (max-width: 500px) {
  header nav ul li a {
    font-size: 2rem;
  }
}
header nav ul li a:hover {
  color: #141615;
}
header nav .toggle {
  display: none;
}
header nav .burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding-right: 3em;
}
@media screen and (min-width: 501px) {
  header nav .burger {
    display: none;
  }
}
header nav .burger div {
  background-color: rgba(255, 255, 255, 0.651);
  height: 8px;
  width: 45px;
  margin: 4px;
  border-radius: 3px;
}
header .banner {
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 3em;
  margin-bottom: 1em;
}
@media screen and (max-width: 800px) {
  header .banner {
    width: 40%;
    float: right;
    margin-right: 3em;
    line-height: 4.2rem;
  }
}
@media screen and (max-width: 500px) {
  header .banner p {
    display: none;
  }
}

.mid-content {
  background: black;
  display: flex;
}
.mid-content .img-group {
  border: 1px solid red;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mid-content .img-group img {
  padding: 2em;
  max-height: 200px;
}
.mid-content .copy {
  border: 1px solid blue;
  width: 50%;
  padding: 2em;
}
.mid-content .copy .bold {
  font-weight: 900;
}
.mid-content .copy ul li {
  padding: 1em 0 1em 2em;
  font-size: 1.5rem;
}

.about-container {
  background-image: url(../img/scenes/WIGC_homescape_about.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 900px;
  position: relative;
  border-radius: 20px;
  margin-bottom: 2em;
}

.sheep {
  position: relative;
  top: 700px;
  left: 450px;
  width: 120px;
  height: 92px;
  animation: walk 4s infinite ease-in;
}
.sheep .sheep-body {
  position: absolute;
  z-index: 0;
}
.sheep .sheep-head {
  position: absolute;
  z-index: 1;
  left: -2%;
  top: 3%;
}
.sheep .leg {
  position: absolute;
  z-index: 1;
  top: 65%;
}
.sheep .right-front {
  left: 28%;
  animation: step 0.6s alternate infinite linear;
}
.sheep .left-front {
  left: 36%;
  animation: step 0.6s alternate-reverse infinite linear;
}
.sheep .right-back {
  left: 67%;
  animation: step 0.6s alternate-reverse infinite linear;
}
.sheep .left-back {
  left: 75%;
  animation: step 0.6s alternate infinite linear;
}

.sheep-img {
  position: absolute;
  bottom: 160px;
  left: 450px;
  z-index: 2;
}

.sheep-img2 {
  position: absolute;
  bottom: 170px;
  left: 600px;
  z-index: 2;
}

.mink {
  position: absolute;
  top: 600px;
  left: 550px;
  width: 65px;
}
.mink #mink-body {
  position: absolute;
  z-index: 0;
}
.mink #mink-head {
  position: absolute;
  left: 5px;
  z-index: 1;
}

.trampoline {
  position: relative;
  top: 700px;
  left: 400px;
}
.trampoline #tramp-base {
  position: absolute;
  z-index: 0;
}
.trampoline #tramp-surface {
  position: absolute;
  z-index: 1;
  left: 29px;
}

.logo-spinner {
  position: relative;
  right: -40%;
  margin: auto;
}
.logo-spinner #spin-big {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  max-width: 205px;
}

#spin-mid {
  position: absolute;
  z-index: 1;
  left: 30px;
  top: 30px;
}

#spin-little {
  position: absolute;
  z-index: 2;
  left: 63px;
  top: 63px;
}

@keyframes walk {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-300px);
  }
}
@keyframes step {
  0% {
    transform: rotate(20deg);
    transform-origin: top left;
  }
  50% {
    transform: rotate(0deg);
    transform-origin: top left;
  }
  100% {
    transform: rotate(-20deg);
    transform-origin: top left;
  }
}
@keyframes head-tilt {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: translateX(5px) translateY(-3px);
  }
  25% {
    transform: rotate(10deg);
  }
  35% {
    transform: translateY(5px) translateX(-2px);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

/*# sourceMappingURL=index.css.map */
