.about-container {
    background-image: url(../img/scenes/WIGC_homescape_about.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 900px;
    position: relative;
    border-radius: 20px;
    // border: 1px solid red;
    // display: none;
    margin-bottom: 2em;
}

.sheep-img{
    position: absolute;
    bottom: 10%;
    left: 40%;
    // border: 1px solid red;
    // display: none;
    animation: walk 4s alternate infinite;
}

.sheep-img2 {
    position: absolute;
    bottom: 10%;
    left: 20%;
    animation: hop 4s alternate infinite;
}

// .mid-segment {
//     display: none;
// }
.logo-spinner {
    justify-content: center;
    width: 151px;
    // display: none;
}

#spin-big {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    width: 205px;
    animation: reverse-spin 2s infinite linear;
    // margin: auto;
    // border: 1px solid #ff0000;
}

#spin-mid {
    position: absolute;
    z-index: 1;
    left: 30px;
    top: 30px;
    animation: spin 1s infinite linear;
    // margin: auto;
    // border: 1px solid blue;
}

#spin-little {
    position: absolute;
    z-index: 2;
    left: 63px;
    top: 63px;
    animation: reverse-spin 2s infinite linear;
    // margin: auto;
    // border: 1px solid green;
}

@keyframes spin {
    0% {

    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes reverse-spin {
    0% {

    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes walk {
    0% {
        transform: translateX(0px)
    }

    100% {
        transform: translateX(300px);
    }
}

@keyframes hop {
    0% {
        transform: translateY(0px)
    }

    100% {
        transform: translateY(-300px);
    }
}

