.about-scene-container {
    background-image: url(../img/scenes/backgrounds/WIGC_homescape_about.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 900px;
    position: relative;
    // border-radius: 20px;
    margin-bottom: 2em;
}

.tutorial-display-box {
    // border: 1px solid red;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .8;

    .display {
        margin: 1.75em 0 1.75em 0;
        max-width: 50%;
        padding: 1.75em 1.75em 0em 1.75em;
        background: linear-gradient(180deg, #0C2974 0%, #9F62BC 100%);  
        border-radius: 10px;
    }

    .start-btn button {
        width: 10em;
        height: 2em;
        font-size: 2rem;
        border-radius: 50px;
        background: linear-gradient(180deg, #0C2974 0%, #9F62BC 100%);  
        // display: none;
    }
}

.flock {
    position: relative;
    top: 650px;
    left: 640px;
    width: 120px;
    height: 92px;
    // border: 1px solid blue;
    
    .sheep {
        position: inherit;
        height: inherit;
        // border: 1px solid yellow;
    }

    .sheep-body {
        position: absolute;
        z-index: 0;
    }
    .sheep-head {
        position: absolute;
        z-index: 1;
        left: -2%;
        top: 3%;
    }
    .leg {
        position: absolute;
        z-index: 1;
        top: 65%;
    }
    .right-front {
        left: 28%;
        
    }
    .left-front {
        left: 36%;
    }
    .right-back {
        left: 67%;
        
    }
    .left-back {
        left: 75%;
    }
}

//////////////////////// Mink sitting (start)
.mink-sit {
    display: none;
    position: absolute;
    top: 558px;
    left: 295px;
}

////////////////////////// Mink standing profile
.mink-profile {
    display: none;
    position: relative;
    top: 400px;
    left: 300px;
    width: 150px;
    height: 98px;
    // border: 1px solid red;
    animation: walk-mink 3s linear;

    .mp-bounce {
        position: inherit;
        height: inherit;
        animation: bounce .5s alternate infinite;
    }
    
    .mp-inner {
        position: inherit;
        height: inherit;
    }
    .mp-body {
        position: absolute;
        left: 24px;
        z-index: 1;
    }
    .mp-head, .mp-head-left {
        position: absolute;
        z-index: 2;
        left: 64%;
        top: -7%;
    }
    .mp-FLL {
        position: absolute;
        z-index: 0;
        left: 55%;
        top: 33%;
        animation: step-mink 1s .05s infinite cubic-bezier(.66,.67,.27,1.04);
    }
    .mp-FRL {
        position: absolute;
        z-index: 2;
        left: 59%;
        top: 35%;
        animation: step-mink 1s infinite cubic-bezier(.66,.67,.27,1.04);

    }
    .mp-BLL {
        position: absolute;
        z-index: 0;
        left: 15%;
        top: 17%;
        animation: step-mink-reverse 1s .05s reverse infinite cubic-bezier(.66,.67,.27,1.04);

    }
    .mp-BRL {
        position: absolute;
        z-index: 2;
        left: 10%;
        top: 17%;
        animation: step-mink-reverse 1s reverse infinite cubic-bezier(.66,.67,.27,1.04);

    }
    
    .mp-tail {
        position: absolute;
        z-index: 1;
        top: 13%;
        left: -2%;
    }
}

/////////////////////// Mink front view
.mink-front-view {
    display: none;
    position: relative;
    top: 400px;
    left: 875px;
    width: 50px;
    height: 98px;
    // border: 1px solid red;
    animation: walk-fv 1.5s linear;

    .mfv-inner {
        position: inherit;
        height: inherit;
    }
    .mfv-body {
        position: absolute;
        left: 15%;
        top: 18%;
        z-index: 1;
    }
    .mfv-head {
        position: absolute;
        left: 12%;
        top: 18%;
        z-index: 3;
    }
    .mfv-tail {
        position: absolute;
        top: 19%;
        left: 29%;
        animation: wag_fv .5s infinite alternate ease-in-out;
    }
    .mfv-BRL {
        position: absolute;
        top: 34%;
        animation: step-fv .3s .225s infinite alternate linear;

    }
    .mfv-BLL {
        position: absolute;
        top: 34%;
        left: 45%;
        animation: step-fv .3s .075s infinite alternate linear;

    }
    .mfv-FRL {
        position: absolute;
        z-index: 1;
        top: 39%;
        left: 18%;
        animation: step-fv .3s infinite alternate linear;
    }
    .mfv-FLL {
        position: absolute;
        z-index: 1;
        top: 39%;
        left: 58%;
        animation: step-fv .3s .15s infinite alternate linear;

    }
}

/////////////////////// Mink rear view
.mink-rear-view {
    display: none;
    position: relative;
    top: 400px;
    left: 720px;
    width: 50px;
    height: 98px;
    // border: 1px solid red;
    animation: walk-fv reverse 1s linear;

    .mrv-inner {
        position: inherit;
        height: inherit;
    }
    .mrv-body {
        position: absolute;
        left: 15%;
        top: 18%;
        z-index: 1;
    }
    .mrv-head {
        position: absolute;
        left: 10%;
        top: 7%;
        z-index: 0;
    }
    .mrv-tail {
        position: absolute;
        z-index: 2;
        top: 30%;
        left: 29%;
        animation: wag_fv .5s infinite alternate ease-in-out;
    }
    .mrv-BRL {
        position: absolute;
        z-index: 1;
        top: 34%;
        left: 45%;
        animation: step-fv .3s .225s infinite alternate linear;
        
    }
    .mrv-BLL {
        position: absolute;
        z-index: 1;
        top: 34%;
        animation: step-fv .3s .075s infinite alternate linear;

    }
    .mrv-FRL {
        position: absolute;
        z-index: 0;
        top: 25%;
        left: 58%;
        animation: step-fv .3s infinite alternate linear;
    }
    .mrv-FLL {
        position: absolute;
        z-index: 0;
        top: 25%;
        left: 18%;
        animation: step-fv .3s .15s infinite alternate linear;

    }
}

//////////////////////////// Mink Crouch profile
.mink-crouch {
    display: none;
    position: relative;
    top: 575px;
    left: 800px;
    width: 150px;
    height: 98px;
    // border: 1px solid red;
    animation: walk-mink-crouch 2s linear;

    .mcr-inner {
        position: inherit;
        height: inherit;
        transform: scaleX(-1);
    }

    .mcr-body {
        position: absolute;
        left: 24px;
        z-index: 1;
    }
    .mcr-head, .mcr-head-left {
        // display: none;
        position: absolute;
        z-index: 2;
        left: 65%;
        top: -6%;
    }

    .mcr-FLL {
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 28%;
        animation: creep .8s infinite .25s linear;
    }
    .mcr-FRL {
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 28%;
        animation: creep .8s infinite linear;

    }
    .mcr-BLL {
        position: absolute;
        z-index: 0;
        left: 12%;
        top: 21%;
        animation: step-mink .8s .4s infinite linear;

    }
    .mcr-BRL {
        position: absolute;
        z-index: 2;
        left: 12%;
        top: 21%;
        animation: step-mink .8s infinite linear;

    }
    
    .mcr-tail {
        position: absolute;
        z-index: 1;
        top: 8%;
        left: -4%;
    }
}

////////////////////////// Mink standing profile - reverse 
.mp-2 {
    animation: walk-mink-left 3s linear;
    left: 600px;

    .mp-inner {
        transform: scaleX(-1);
        
    }
}

/////////////////////// Mink front view - 2nd 
.mfv-2 {
    left: 150px;
}

////////////////////// Mink crouch - 2nd
.mc-2 {
    left: 200px;
    animation: walk-mink-crouch reverse 2s linear;

    .mcr-inner {
        transform: scaleX(1)
    }
}

///////////////////// Mink rear view - 2nd
.mrv-2 {
    left: 300px
}

// For animation changes
.active {
    display: block;
}
.hide {
    display: none;
}

//////////////////// Sheep animation
.active-flock {
    animation: walk 6s linear;

    .right-front {
        animation: step .4s alternate infinite linear;
    }
    .left-front {
        animation: step .4s alternate-reverse infinite linear;
    }
    .right-back {
        animation: step .4s alternate-reverse infinite linear;
    }
    .left-back {
        animation: step .4s alternate infinite linear;
    }
}

.active-flock-left {
    animation: walk-right 6s linear;
    .right-front {
        animation: step .4s alternate infinite linear;
    }
    .left-front {
        animation: step .4s alternate-reverse infinite linear;
    }
    .right-back {
        animation: step .4s alternate-reverse infinite linear;
    }
    .left-back {
        animation: step .4s alternate infinite linear;
    }
}

.flock-left {
    left: 330px;
}

.reverse {
    transform: scaleX(-1);
}

@keyframes walk {
    0% {
        transform: translateX(0px)
    }
    100% {
        transform: translateX(-310px);
    }
}

@keyframes walk-right {
    0% {
        transform: translateX(0px)
    }
    100% {
        transform: translateX(310px);
    }
}

@keyframes walk-mink {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(500px);
    }
}

@keyframes walk-mink-left {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-500px);
    }
}

@keyframes walk-mink-crouch {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-90px);
    }
}

@keyframes walk-fv {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(150px);
    }
}

@keyframes creep {
    0% {
        transform: translate3d(0);
    }
    25% {
        transform: translate3d(4px, -2px, 0);
    }
    50% {
        transform: translate3d(8px, 0px, 0);
    }
    75% {
        transform: translate3d(4px, 2px, 0);
    }
    100% {
        transform: translate3d(0); 
    }
}

@keyframes step {
    0% {
        transform: rotate(20deg);
        transform-origin: top left;
    }
    50% {
        transform: rotate(0deg);
        transform-origin: top left;
    }
    100% {
        transform: rotate(-20deg);
        transform-origin: top left;
    }
}

@keyframes step-fv {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(6px);
    }
}

@keyframes step-mink {
    0% {
        transform: rotate(-12deg);
        transform-origin: top;
    }
    50% {
        transform: rotate(14deg);
        transform-origin: top;
    }
    100% {
        transform: rotate(-12deg);
        transform-origin: top;
    }
}

@keyframes step-mink-reverse {
    0% {
        transform: rotate(12deg);
        transform-origin: top;
    }
    50% {
        transform: rotate(-16deg);
        transform-origin: top;
    }
    100% {
        transform: rotate(12deg);
        transform-origin: top;
    }
}

@keyframes bounce {
    0% {
        transform: rotate(-5deg)
    }
    100% {
        transform: rotate(3deg)
    }
}

@keyframes wag_fv {
    from {
        transform-origin: top;
        transform: rotate(-20deg)
    }
    to {
        transform-origin: top;
        transform: rotate(20deg);
    }
}

