* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  html, body {
    font-family: 'Roboto', sans-serif;
    color: rgba(245, 239, 239, 0.993);
  }
  
  body {
    max-width: 1440px;
    margin: 0 auto;
    // background-image: url(../img/webb-dark/webb-dark.png);
  }
  
  h1, h2, h3, h4, h5 {
    font-family: sans-serif;
  }
  
  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3.2rem;
    padding-bottom: 10px;
  }
  
  h4 {
    font-size: 2.5rem;
    padding-bottom: 10px;
  }
  
  p {
    line-height: 1.5;
    font-size: 1.6rem;
    padding-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  button {
    cursor: pointer;
  }