header {
    display: flex;
    justify-content: space-between;
    position: sticky;

    #wigc-logo {
        padding: 1em;
        width: 25%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        border: 1px solid red;

        a {
            text-decoration: none;
            font-size: 1.2rem;
        }
    }
}