.home-scene-container {
    background-image: url(../img/scenes/backgrounds/Cityscape-1440x900.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 900px;
    position: relative;
    // border-radius: 20px;
    // margin-bottom: 2em;

    .goose{
        // display: none;
        position: relative;
        top: 450px;
        left: 500px;
        width: 111px;
        height: 130px;
        // border: 1px solid red;

        // .goose {
        //     position: inherit;
        //     height: inherit;
        //     border: 1px solid yellow;
        // }
        .goose-body {
            position: absolute;
            z-index: 1;
            top: 30%;
            left: 10%;
        }
        .goose-head-neck-stand {
            position: absolute;
            // border: 1px solid blue;
            top: 0%;
            left: 56%;
        }
        .goose-head-neck-fly {
            display: none;
            position: absolute;
            top: 33%;
            right: -40%;
        }
        .goose-wing-stand {
            position: absolute;
            z-index: 2;
            top: 42%;
            left: 25%;
            // display: none;
        }
        .goose-wing-fly-R {
            position: absolute;
            z-index: 2;
            top: -8%;
            left: 35%;
            display: none;
        }
        .goose-wing-fly-L {
            position: absolute;
            z-index: 0;
            top: 3%;
            left: 20%;
            display: none;
        }
        .goose-tail {
            position: absolute;
            z-index: 0;
            top: 34%;
            left: 1%;
            // display: none;
        }
        .back-foot {
            position: absolute;
            z-index: 0;
            top: 65%;
            left: 40%;
        }
        .front-foot {
            position: absolute;
            z-index: 0;
            top: 65%;
            left: 60%;
        }
    }

    .fly {
        animation: fly 3s infinite ease-in;
        .goose-head-neck-stand {
            display: none;
        }
        .goose-head-neck-fly {
            display: block;
        }
        .front-foot, .back-foot {
            display: none;
        }
        .goose-wing-stand {
            display: none;
        }
        .goose-wing-fly-R, .goose-wing-fly-L {
            display: block;
            animation: flap .3s infinite;
        }
        .goose-tail {
            transform-origin: bottom right;
            transform: rotate(-25deg)
        }
    }

    @keyframes flap {
        0% {
            transform-origin: 0% 90%;
            transform: scaleY(1)
        }
        50% {
            transform-origin: 0% 90%;
            transform: scaleY(-1)
        }
        100% {
            transform-origin: 0% 90%;
            transform: scaleY(1)
        }
    }
    
    @keyframes fly {
        from {
            transform: translateY(0px) translateX(0px) scale(1)
        }
        to {
            transform: translateY(-800px) translateX(1600px) scale(3)
        }
    }

    .car {
        // display: none;
        width: 175px;
        position: absolute;
        z-index: 2;
        top: 270px;
        left: 150px;
        animation: drive 3s ease-out;

        .car-body {
            z-index: 1;
            position: absolute;
        }
        .car-wheel {
            position: absolute;
            width: 27.2px;
            top: 128%;
            text-align: center;
            animation: rotate 3s ease-out;
            // border: 1px solid red;
        }
        .front {
            left: 73%;
        }
        .back {
            left: 9%;
        }
        .car-hatch {
            position: relative;
            width: 43.5px;
            top: 8px;
            left: 2px;
            animation: hatch-open 4s 4s cubic-bezier(0,.32,.82,1.1);

        }
    }
    @keyframes drive {
        from {
            transform: translateX(-400px)
        }
        to {
            transform: translateX(0px);
        }
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(1080deg)
        }
    }

    @keyframes hatch-open {
        0% {
            transform-origin: right top;
            transform: rotate(0deg)
        }
        20% {
            transform-origin: right top;
            transform: rotate(70deg)
        }
        60% {
            transform-origin: right top;
            transform: rotate(70deg)
        }
        100% {
            transform-origin: right top;
            transform: rotate(0deg)
        }
    }

    .luna {
        // display: none;
        position: absolute;
        width: 80px;
        height: 40px;
        z-index: 1;
        left: 190px;
        top: 285px;
        animation: luna-car-walk 2s;

        .luna-inner {
            animation: luna-car-jump-rotate 2s;
            // position: inherit;
            height: inherit;
        }

        .luna-head-body-combo {
            position: absolute;
        }

        .luna-frl {
            position: absolute;
            z-index: -1;
            left: 20%;
            top: 40%;
        }

        .luna-fll {
            position: absolute;
            z-index: 1;
            left: 25%;
            top: 40%;
        }

        .luna-brl {
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 20%;
        }

        .luna-bll {
            position: absolute;
            z-index: 1;
            left: 45%;
            top: 20%;
        }

        .luna-frl, .luna-fll {
            animation: luna-car-front-leg-stride 2s;
        }

        .luna-brl, .luna-bll {
            animation: luna-car-back-leg-stride 2s;
        }
    }

    @keyframes luna-car-walk {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-130px);
        }
    }

    @keyframes luna-car-front-leg-stride {
        0% {
            transform-origin: top center;
            transform: rotate(0deg)
        }
        50% {
            transform-origin: top center;
            transform: rotate(45deg)
        }
        100% {
            transform-origin: top center;
            transform: rotate(0deg)
        }
    }
    @keyframes luna-car-back-leg-stride {
        0% {
            transform-origin: top center;
            transform: rotate(0deg)
        }
        50% {
            transform-origin: top center;
            transform: rotate(-50deg)
        }
        100% {
            transform-origin: top center;
            transform: rotate(0deg)
        }
    }
    @keyframes luna-car-jump-rotate {
        0% {
            transform: rotate(0deg) translateY(0px)
        }
        25% {
            transform: rotate(10deg) 
        }
        50% {
            transform: translateY(-20px)
        }
        75% {
            transform: rotate(-10deg) 
        }
        100% {
            transform: rotate(0deg) translateY(0px)
        }
    }

    .luna-fv {
        // display: none;
        position: absolute;
        width: 49px;
        height: 105px;
        left: 50px;
        top: 500px;
        z-index: 0;
        animation: luna-fv-walk 3s linear;

        .luna-fv-inner {
            position: relative;
            height: inherit;
        }
        .luna-fv-body {
            position: absolute;
        }
        .luna-fv-head {
            position: absolute;
            z-index: 1;
            top: -15%;
            animation: luna-fv-head-drop .3s alternate infinite linear;
        }
        .luna-fv-frl {
            position: absolute;
            left: 6%;
            top: 20%;
            // border: 1px solid red;
            animation: luna-fv-stride .5s infinite linear;
        }
        .luna-fv-fll {
            position: absolute;
            left: 54%;
            top: 20%;
            // border: 1px solid red;
            animation: luna-fv-stride .5s infinite linear;
        }
        .luna-fv-brl {
            position: absolute;
            z-index: -1;
            left: 10%;
            top: 5%;
            animation: luna-fv-stride .5s .25s infinite linear;

        }
        .luna-fv-bll {
            position: absolute;
            z-index: -1;
            left: 43%;
            top: 5%;
            animation: luna-fv-stride .5s .3s infinite linear;

        }
    }

    @keyframes luna-fv-walk {
        from {
            transform: translateY(-250px) scale(.3)
        }
        to {
            transform: translateY(0) scale(1)
        }
    }

    @keyframes luna-fv-stride {
        0% {
            transform: translateY(0)
        }
        50% {
            transform: translateY(15px)
        }
        100% {
            transform: translateY(0)
        }
    }
    
    @keyframes luna-fv-head-drop {
        from {
            transform: translateY(0)
        }
        to {
            transform: translateY(7px)
        }
    }
}