header {
    background-image: url(../img/mink-lake-reflection.png);
    background-size: cover;
    min-height: 400px;
    height: 50vh;

    nav {
        display: flex;
        justify-content: space-between;
        position: sticky;
        // background: rgb(71, 74, 72);
        min-height: 8vh;

        #wigc-logo {
            padding: 1em;
            width: 30%;
            // border: 1px solid red;

            @media screen and ($tablet) {
                width: 40%;
            }

            @media screen and ($mobile) {
                width: 48%;
            }
        }

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            // border: 1px solid red;

            @media screen and ($mobile) {
                    position: absolute;
                    flex-direction: column;
                    top: 100%;
                    height: 92vh;
                    width: 100%;
                    background: rgb(71, 74, 72);
            }

            li a {
                text-decoration: none;
                font-size: 1.8rem;
                color: rgba(255, 255, 255, 0.651);

                @media screen and ($mobile) {
                    font-size: 2rem;
                }
            }

            li a:hover {
                color: rgb(20, 22, 21);
            }
        }

        // Hide the nav menu; may be commented out for development 
        .toggle {
            display: none;
        }

        .burger {
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            padding-right: 3em;
            // border: 1px solid yellow;

            @media screen and ($desktop) {
                display: none;
            }

            div {
                background-color: rgba(255, 255, 255, 0.651);
                height: 8px;
                width: 45px;
                margin: 4px;
                border-radius: 3px;
            }
        }
    }

    .banner-text {
        text-align: center;
        color: rgba(248, 234, 234, 0.842);
        background: transparentize($color: #000000, $amount: 0.7);
        border-radius: 5px;
        padding: 3em;
        // border: 1px solid blue;

        @media screen and ($tablet) {
            width: 40%;
            float: right;
            margin-right: 5em;
            line-height: 4.2rem;
            // height: 100%;
            // display: flex;
            // flex-direction: column;
        }
    }
}