header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    background: rgb(71, 74, 72);
    min-height: 8vh;

    #wigc-logo {
        padding: 1em;
        width: 25%;
    }

    .nav-link {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        // border: 1px solid red;

        li a {
            text-decoration: none;
            font-size: 1.2rem;
        }
    }
}